<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTests" >


    <test name="FunctionalTests">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>

    <!-- Listeners -->
    <listeners>
        <!-- Emailable report -->
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <!-- JUnit report -->
        <listener class-name="org.testng.reporters.JUnitReportReporter"/>
        <!-- XML report -->
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>

</suite>
