<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTests" >


<test name="FunctionalTests">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>


    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <listener class-name="org.testng.reporters.JUnitReportReporter"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>

</suite>
